<!DOCTYPE html>
<html lang="en">

<%- include("templates/head-1") -%>
Mario Hanina
<%- include("templates/head-2") -%>

<body>

    <%- include("templates/navbar") -%>

    <section style="flex-grow: 1; display: flex; flex-direction: column; justify-content: center; text-align: center;">
        <h1><%= heading %></h1>
        <p style="margin-bottom: 2.4rem;"><%= body %></p>
        <a href="/"><button>Main Page</button></a>
    </section>

    <%- include("templates/copyright") -%>

</body>

</html>