<!DOCTYPE html>
<html lang="en">

<%- include("templates/head", {title: "Contact Me"}); %>

<body>

    <%- include("templates/navbar") -%>

    <section class="contact-result">
        <span class="larger-text m-b-2"><%= heading %></span>
        <p><%= body %></p>
        <a href="/"><button>Main Page</button></a>
    </section>

    <%- include("templates/copyright", {
        liSrc: "images/logos/linkedin.png", 
        ghSrc: "images/logos/github.png"
    }); %>

</body>

</html>